{% extends 'base.html' %}
{% load static %}
{% block title %}Nibbles - about the awesome website{% endblock %}

{% block body %}

     <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">About Nibbles</h1>
          <p class="lead text-muted" align="justify">
              Thanks for visiting this website. Nibbles is a fun book web application built using django. It's a project inspired by the Barnes and Noble website.
              Allow me to shade some light on how this project came to be. From time to time programmers ask themselves what project to work on next.
              The thing is, most want to work on original ideas, which isn't bad at all especially if you are trying to run a startup but it's pretty
              difficult to come up with an original idea and it can be time consuming. If you want to practice the skills you have just learned after
              taking a course or just want to create something to add to your portfolio, originality shouldn't be a top concern. It's better to spend time mimicking
              another app out there than spending so much time thinking about an idea (again if your are not part of a startup). So it's about practicing the skills
              you learned. Check out this article that explains the idea better:
              <a href="https://www.freecodecamp.org/news/the-secret-to-unlimited-project-ideas/" target="_blank">here</a>
          </p>

        </div>
  </section>


{% endblock %}