{% extends 'base.html' %}
{% load static %}
{% block title %}Nibbles - {{ queryset.full_name }}{% endblock %}

{% block body %}

    <div class="container">
        <h3 align="center">{{ queryset.full_name }}</h3>
        <!-- Author picture -->
        <div class="row" style="margin-top: 2%">
            <div class="col-md-4 offset-md-2">
                <figure class="figure">
                    <div>
                        <img src="/{{ queryset.image }}" class="figure-img img-fluid shadow-lg" alt="{{ queryset.full_name }}" style="width:350px;height:350px;">
                    </div>
                </figure>
            </div>
            <!-- About Author -->
            <div class="col-md-4">
                <h4>About the Author</h4>
                <p align="justify">{{ queryset.about }}</p>
            </div>
        </div>

        <!-- Books by Author -->

        <h5 align="center">Books by {{ queryset.full_name }}</h5>

        <hr size="5">
        {% if book_in_fives_by_author %}
            {% for list in book_in_fives_by_author %}
                <div class="row ">
                    {% for book in list %}
                        <div class="col-md-2">
                            <figure class="figure">
                                <a href="{% url 'NibblesBookApp:get_book' book.id %}">
                                  <div class="nang">
                                  <img src="/{{ book.image }}" class="figure-img img-fluid" alt="{{ book.title }}" style="width:132px;height:210px;">
                                  </div>
                                </a>
                                <figcaption class="figure-caption">
                                    <a href="{% url 'NibblesBookApp:get_book' book.id %}" style="color: black"><div align="left">{{ book.title }}</div></a>
                                    {{ book.date |date:'M Y' }}<br>
                                    <span class="blog-post-meta">By <a href="{% url 'NibblesBookApp:get_author' book.author_id %}">{{ book.author }}</a></span>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
             <p>No books to display yet</p>
        {% endif %}

    </div>

{% endblock %}
